# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.ipynb_checkpoints/
.cache/
*.log

# Virtual environments
.venv/
venv/
env/

# VSCode & JetBrains stuff
.vscode/
.idea/

# System files
.DS_Store

# Streamlit specific
.streamlit/

# Notebooks
*.ipynb

# Graphify local token-saving codebase engine
graphify-out/
.claude/
CLAUDE.md
